<div class="row">
  <div class="col-sm">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h1>
      Recipe Name
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="btn-group dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Manage Recipe
      </button>
      <ul class="dropdown-menu">
        <li><a href="" class="dropdown-item">To Shopping List</a></li>
        <li><a href="" class="dropdown-item">Edit Recipe</a></li>
        <li><a href="" class="dropdown-item">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">Deacription</div>
</div>
<div class="row">
  <div class="col">
    Ingredients
  </div>
</div>